body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
  padding: 20px;
}

.chart-container {
  width: 80%;
  margin: auto;
}

.tips-container {
  background-color: #e0f7fa;
  padding: 20px;
  margin: 20px auto;
  width: 50%;
  border-radius: 5px;
}
